body{
    background-color: rgba(17, 58, 184, 0.643);
    font-family: Playwrite Deutschland Grundschrift Guides, cursive;
}
header{
    font-size: 50px;
    text-align: center;
    background-color:aqua;
    color: rgb(24, 173, 13);
    border:dashed;
}
.top1{
text-align:center;
background-color:chartreuse;
color:darkgoldenrod;
padding-bottom:40px;
}
